{% extends 'base.html' %}
{% block title %}
<title>12307 | 选购车票</title>
{% endblock %} 
{% block head %}

{% endblock %} 
{% block content %}
 <div class="ui text container">
   <div class="ui grid">
     <div class="six wide column">
      <div class="ui vertical steps">
        <div class="completed step">
          <i class="truck icon"></i>
          <div class="content">
            <div class="title">运输</div>
            <div class="description">选择您的运输选项</div>
          </div>
        </div>
        <div class="completed step">
          <i class="credit card icon"></i>
          <div class="content">
            <div class="title">计费</div>
            <div class="description">输入账单信息</div>
          </div>
        </div>
        <div class="active step">
          <i class="info icon"></i>
          <div class="content">
            <div class="title">确认订单</div>
            <div class="description">核对订单详情</div>
          </div>
        </div>
      </div>
     </div>
     <div class="column">
      <div id="">

      </div>
     </div>
   </div>
</div>
{% endblock %}