{% extends 'base.html' %}
{% block head %}
  <style type="text/css">
    body {

    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
  </style>
  <script>
  $(document)
    .ready(function() {
      $('.ui.form')
        .form({
          fields: {
            email: {
              identifier  : 'username',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your username'
                },
                {
                  type   : 'maxLength[20]',
                  prompt : 'Your username is too long'
                }
              ]
            },
            password: {
              identifier  : 'password',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your password'
                },
                {
                  type   : 'minLength[6]',
                  prompt : 'Your password must be at least 6 characters'
                }
                {
                  type   : 'maxLength[30]',
                  prompt : 'Your password is too long'
                }
              ]
            }
          }
        })
      ;
    })
  ;
  </script>
{% endblock %}

{% block content %}
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui image header">
      <i class="circular train icon"></i>
      <div class="content">
        Login to your account
      </div>
    </h2>
    <form class="ui large form" method="post" onsubmit="
    document.getElementById('LoginButton').classList.add('loading');">
      <div class="ui segment">
        <div class="field">
          <div class="ui left icon input">
            <input type="text" name="username" placeholder="Username">
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <input type="password" name="password" placeholder="Password">
            <i class="lock icon"></i>
          </div>
        </div>
        <div class="ui fluid primary submit button" id="LoginButton">Login</div>
      </div>
      <div class="ui error message"></div>
    </form>
    <div class="ui center aligned segment">
      New to us? <a href="#">Sign Up</a>
    </div>
  </div>
</div>
  
{% endblock %}