{% extends 'base.html' %}
{% block title %}
<title>12306 | 关于</title>
{% endblock %} 
{% block head %}

{% endblock %}

{% block content %}
<div class="ui container">
    <h1 class="ui horizontal divider header">火车票管理系统施工队</h1>
    <div class="ui three cards">
        <div class="ui card">
            <div class="image">
              <img src="{{ url_for('static', filename='images/avatar/cxy.jpg') }}">
            </div>
            <div class="content">
              <div class="header">陈雪阳</div>
              <div class="meta">
                <a>前端</a>
              </div>
              <div class="description">看到Anoxiacxy请叫他回去好好高考。</div>
            </div>
            <div class="extra content">
              <span class="right floated">2020年4月24日入伙 </span>
              <span><i class="thumbs up icon"></i> 为他点赞 </span>
            </div>
        </div>
    
        <div class="ui card">
            <div class="image">
              <img src="{{ url_for('static', filename='images/avatar/lzd.jpg') }}">
            </div>
            <div class="content">
              <div class="header">李至丹</div>
              <div class="meta">
                <a>数据库</a>
              </div>
              <div class="description">这个人好懒，什么都没留下。</div>
            </div>
            <div class="extra content">
              <span class="right floated">2020年4月24日入伙 </span>
              <span><i class="thumbs up icon"></i> 为他点赞 </span>
            </div>
        </div>

        <div class="ui card">
            <div class="image">
              <img src="{{ url_for('static', filename='images/avatar/yxy.jpg') }}">
            </div>
            <div class="content">
              <div class="header">杨新宇</div>
              <div class="meta">
                <a>后端</a>
              </div>
              <div class="description">我们都是孤独的此为，只有频率相同的人，才能看键彼此内心深处不为人知的优雅。</div>
            </div>
            <div class="extra content">
              <span class="right floated">2020年4月24日入伙 </span>
              <span><i class="thumbs up icon"></i> 为他点赞 </span>
            </div>
        </div>


  </div>
</div>
{% endblock %}