{% extends 'base.html' %}
{% block title %}
<title>12307 | 登陆</title>
{% endblock %}

{% block head %}
  <style type="text/css">
    body > .grid {
      height: 100%;
    }
    .column {
      max-width: 450px;
    }
  </style>
  <script>
  $.fn.form.settings.rules.startWithChar = function(value) {
    return value[0]
  };
  $(document)
    .ready(function() {
      $('.ui.form')
        .form({
          fields: {
            email: {
              identifier  : 'username',
              rules: [
                {
                  type   : 'empty',
                  prompt : '请输入你用户名'
                }
              ]
            },
            password: {
              identifier  : 'password',
              rules: [
                {
                  type   : 'empty',
                  prompt : '请输入你的密码'
                }
              ]
            }
          }
        })
      ;
    })
  ;
  </script>
{% endblock %}

{% block content %}
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui image header">
      <i class="circular train icon"></i>
      <div class="content">
        请登录您的账户
      </div>
    </h2>
    <form class="ui large form" method="post">
      <div class="ui segment">
        <div class="field">
          <div class="ui left icon input">
            <input type="text" name="username" placeholder="账户">
            <i class="id badge icon"></i>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <input type="password" name="password" placeholder="密码">
            <i class="lock icon"></i>
          </div>
        </div>
        <div class="ui fluid primary submit button">登陆</div>
      </div>
      <div class="ui error message"></div>
    </form>
    <div class="ui center aligned segment">
      还没有账号? 点击<a href="/register">注册</a>
    </div>
  </div>
</div>
<script>
{% if 'C_USERNAME' in argv %}  
  $('input[name="username"]').val('{{ argv.C_USERNAME }}')
{% endif %}
</script>

{% endblock %}