{% extends 'base.html' %}
{% block title %}
<title>12307 | 注册</title>
{% endblock %}

{% block head %}
  <style type="text/css">
    body > .grid {
      height: 100%;
    }
    .column {
      max-width: 450px;
    }
  </style>
{% endblock %}

{% block content %}
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui image header">
      <i class="circular train icon"></i>
      <div class="content">
        注册新的账户
      </div>
    </h2>
    
    <div class="ui segment">
    	<form class="ui large form" method="post">
        <div class="field">
          <div class="ui left icon input">
            <input type="text" name="username" placeholder="账户">
            <i class="id badge icon"></i>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <input type="password" name="password" placeholder="密码">
            <i class="lock icon"></i>
          </div>
				</div>
				<div class="field">
          <div class="ui left icon input">
            <input type="password" name="password_again" placeholder="再次输入密码">
            <i class="lock icon"></i>
          </div>
				</div>
				<div class="field">
          <div class="ui left icon input">
            <input type="text" name="name" placeholder="姓名">
            <i class="user icon"></i>
          </div>
				</div>
				<div class="field">
          <div class="ui left icon input">
            <input type="text" name="mailAddr" placeholder="邮箱">
            <i class="envelope icon"></i>
          </div>
        </div>
			</form>
			<br>
      <div class="ui fluid primary submit button" onclick="register()">注册</div>
    </div>
    <div class="ui negative message" id="negative_message">
      <i class="close icon" onclick="this.parentNode.style.display='none'"></i>
      <div class="header" id="negative_message_header"></div>
      <p id="negative_message_content"></p>
    </div>
    <div class="ui positive message" id="positive_message">
      <i class="close icon" onclick="this.parentNode.style.display='none'"></i>
      <div class="header" id="positive_message_header"></div>
      <p id="positive_message_content"></p>
    </div>
    
    <div class="ui center aligned segment">
      已经有了账号? 点击<a href="/login">登陆</a>
    </div>
  </div>
</div>
<script>
	hide_message();
  function hide_message() {
    document.getElementById('negative_message').style.display="none";
    document.getElementById('positive_message').style.display="none";
  }
  function show_message(header, content, is_positive) {
    if (is_positive) {
      document.getElementById('positive_message_header').innerText=header;
      document.getElementById('positive_message_content').innerText=content;
      document.getElementById('positive_message').style.display="block";
      document.getElementById('negative_message').style.display="none";
    } else {
      document.getElementById('negative_message_header').innerText=header;
      document.getElementById('negative_message_content').innerText=content;
      document.getElementById('negative_message').style.display="block";
      document.getElementById('positive_message').style.display="none";
    }
	}
	function add_user() {
    var data = {
      data:JSON.stringify({
        '-c':'cur',
        '-u':map.get('N_USERNAME'),
        '-p':map.get('N_PASSWORD'),
        '-n':map.get('N_NAME'),
        '-g':map.get('N_PRIVILEGE'),
        '-m':map.get('N_MAILADDR'),
      })
    }
    $.ajax({
      url:"{{ url_for('ajax_add_user') }}",
      type:"post",
      data:data,
      dataType: 'json',
      success:function(data){
        if (data["result"] == "success") {
          show_message("添加成功", "你现在可以查看该用户的信息了", true);
          
          reload_avatar();
        } else {
          show_message("出现了问题", "可能是由于账户发生了冲突，请尝试更换您的账户名", false);
        }
      },
      error:function(e){
        show_message("出现了问题", "未连接到服务器", false);
      }
    })
  }
	function check_add_user() {
    if (!username_form_check($('input[name="username"]').val())) {
			$('input[name="username"]').focus();
			return false;
		}
      
    map.set('N_USERNAME', $('input[name="username"]').val());
    if (!password_form_check($('input[name="password"]').val(), $('input[name="password_again"]').val())) {
			$('input[name="password"]').focus();
			return false;
		}
      
    map.set('N_PASSWORD', $('input[name="password"]').val());
    if (!name_form_check($('input[name="name"]').val())) {
			$('input[name="name"]').focus();
			return false;
		}
    map.set('N_NAME', $('input[name="name"]').val());
    if (!mailAddr_form_check($('input[name="mailAddr"]').val())) {
			$('input[name="mailAddr"]').focus();
			return false;
		}
    map.set('N_MAILADDR', $('input[name="mailAddr"]').val());
    map.set('N_PRIVILEGE', '5');
    return true;
  }
	function register() {
		if (check_add_user())
			add_user();
	}

	function username_form_check(data) {
    patten = /^[a-zA-Z0-9_-]{1,20}$/;
    if (!patten.test(data)) {    
      show_message("账户格式错误", "您的用户名至少需要1个字符，最长不超过20个字符，且仅包含字母数字和下划线",false);
      return false;
    } else {
      return true;
    }
    return true;
  }
	function password_form_check(data, data2) {
		patten = /^[a-zA-Z0-9_-]{6,30}$/;
		if (data != data2) {
			show_message("密码不一致", "您两次输入的密码不相同，请重新输入",false);
			return false;
		} else if (!patten.test(data)) {    
      show_message("密码格式错误", "您的密码至少需要6个字符，最长不超过30个字符，且仅包含字母数字和下划线",false);
      return false;
    } else {
      return true;
    }
    return true;
	}
	function name_form_check(data) {
    patten = /^[\u4e00-\u9fa5]{2,5}$/;
    if (!patten.test(data)) {    
      show_message("姓名格式错误", "请输入您的真实姓名",false);
      return false;
    } else {
      return true;
    }
    return true;
	}
	function mailAddr_form_check(data) {
    //  TODO
    patten = /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;
    if (!patten.test(data)) {    
      show_message("邮箱格式错误", "请输入有效的邮箱",false);
      return false;
    } else {
      return true;
    }
    return true;
	}
	function privilege_form_check(data){
    patten = /^\d+$/;
    if (!patten.test(data)) {    
      show_message("权限等级格式错误", "请输入0~10的整数",false);
      return false;
    } else {
      return true;
    }
  }
</script>

{% endblock %}